<form #registerForm="ngForm" (ngSubmit)="register()">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>

    <div class="form-group">
      <input type="text" class="form-control pr-1" required name="username" [(ngModel)]="model.username" placeholder="Username">
    </div>

    <div class="form-group">
        <label for="systemRole">What is your role in system?</label>
        <select  [(ngModel)]="model.role"  name="role"  (ngModelChange)="onChange($event)" class="form-control pr-1" id="systemRole">
          <option *ngFor="let role of rolesFromHome"  [ngValue]="role">{{role}}</option>
        </select>
    </div>

    <!-- <div class="form-group" *ngIf="isAdmin">
        <label for="systemPassword">Main system password:</label>
        <div class="form-inline d-flex justify-content-between">
          <input type="password" class="form-control pr-1" name="systemPassword" [(ngModel)]="systemPassword" placeholder="Password" id="systemPassword">
          <button class="btn btn-success" (click)="checkMainPassword()" type="submit">Check</button>
        </div>
    </div> -->
  

    <div class="form-group">
      <input type="password" class="form-control pr-1" required name="password" [(ngModel)]="model.password" placeholder="Password">
    </div>

    <div class="form-group text-center">
      <button class="btn btn-success" type="submit">Register</button>
      <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>

  </form> 